<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.mhl.wikitopics">

    <!-- region Permissions -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- endregion -->

    <!-- region Application -->
    <application
        android:name=".WikiTopicsApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WikiTopics"
        tools:ignore="AllowBackup">

        <!-- Home -->
        <activity android:name=".ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
    <!-- endregion -->

</manifest>